@model IEnumerable<ConsumingWebAapiRESTinMVC.Models.Employee>

@{
    ViewBag.Title = "dari.tn - furniture";
}

<div class="form-horizontal">

    <hr />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="form-group">

        <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.furnitureName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fabricator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.shippingPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.numberOfPieces)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.furniturePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.verified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.active)
                </th>
                <th></th>


            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.furnitureName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fabricator)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.shippingPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numberOfPieces)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FurniturePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.verified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.active)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>

                </tr>
            }
        </table>


    </div>
</div>